@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lexend:wght@400;500;600&display=swap');

:root {
  --font-inter: 'Inter', sans-serif;
  --font-lexend: 'Lexend', sans-serif;
}

body {
  font-family: var(--font-inter);
}
